/* -------------------------------------
=Variables */

$f_default_size: 13px;
$f_default_line_height: 120%;
$f_default_margin_bottom: 22px; /* fz * lh */
$f_default_color: #333;

$f_base: Arial, sans-serif;

/* ==============================================
GRID */

$fg-column: 81px;    // Column Width
$fg-gutter: 16px;    // Gutter Width
$fg-max-columns: 12; // Total Columns For Main Container
$fg-max-w: $fg-max-columns * $fg-column + ($fg-max-columns - 1) * $fg-gutter;
$fg-min-w: 960px;

/* ==============================================
COLORs */

// f3592d // Naranja SL
$error: #f32d2d;

// Accent variants
$a_accent: #2decf3;
$a_des10_dar10: desaturate(darken($a_accent, 10%), 10%);
$a_des20_dar20: desaturate(darken($a_accent, 20%), 20%);
$a_des30_dar30: desaturate(darken($a_accent, 30%), 30%);
$a_des40_dar40: desaturate(darken($a_accent, 40%), 40%);
$a_des50_dar50: desaturate(darken($a_accent, 50%), 50%);

$b_angle: 90deg;
$b_accent: adjust-hue($a_accent, $b_angle);
$b_des10_dar10: adjust-hue($a_des10_dar10, $b_angle);
$b_des20_dar20: adjust-hue($a_des20_dar20, $b_angle);
$b_des30_dar30: adjust-hue($a_des30_dar30, $b_angle);
$b_des40_dar40: adjust-hue($a_des40_dar40, $b_angle);
$b_des50_dar50: adjust-hue($a_des50_dar50, $b_angle);

$angle: 180deg;
$c_accent: adjust-hue($a_accent, $angle);
$c_des10_dar10: adjust-hue($a_des10_dar10, $angle);
$c_des20_dar20: adjust-hue($a_des20_dar20, $angle);
$c_des30_dar30: adjust-hue($a_des30_dar30, $angle);
$c_des40_dar40: adjust-hue($a_des40_dar40, $angle);
$c_des50_dar50: adjust-hue($a_des50_dar50, $angle);

$angle: 270deg;
$d_accent: adjust-hue($a_accent, $angle);
$d_des10_dar10: adjust-hue($a_des10_dar10, $angle);
$d_des20_dar20: adjust-hue($a_des20_dar20, $angle);
$d_des30_dar30: adjust-hue($a_des30_dar30, $angle);
$d_des40_dar40: adjust-hue($a_des40_dar40, $angle);
$d_des50_dar50: adjust-hue($a_des50_dar50, $angle);

.col_a_accent { background-color: $a_accent; }
.col_a_des10_dar10 { background-color: $a_des10_dar10; }
.col_a_des20_dar20 { background-color: $a_des20_dar20; }
.col_a_des30_dar30 { background-color: $a_des30_dar30; }
.col_a_des40_dar40 { background-color: $a_des40_dar40; }
.col_a_des50_dar50 { background-color: $a_des50_dar50; }

.col_b_accent { background-color: $b_accent; }
.col_b_des10_dar10 { background-color: $b_des10_dar10; }
.col_b_des20_dar20 { background-color: $b_des20_dar20; }
.col_b_des30_dar30 { background-color: $b_des30_dar30; }
.col_b_des40_dar40 { background-color: $b_des40_dar40; }
.col_b_des50_dar50 { background-color: $b_des50_dar50; }

.col_c_accent { background-color: $c_accent; }
.col_c_des10_dar10 { background-color: $c_des10_dar10; }
.col_c_des20_dar20 { background-color: $c_des20_dar20; }
.col_c_des30_dar30 { background-color: $c_des30_dar30; }
.col_c_des40_dar40 { background-color: $c_des40_dar40; }
.col_c_des50_dar50 { background-color: $c_des50_dar50; }

.col_d_accent { background-color: $d_accent; }
.col_d_des10_dar10 { background-color: $d_des10_dar10; }
.col_d_des20_dar20 { background-color: $d_des20_dar20; }
.col_d_des30_dar30 { background-color: $d_des30_dar30; }
.col_d_des40_dar40 { background-color: $d_des40_dar40; }
.col_d_des50_dar50 { background-color: $d_des50_dar50; }

/* Main BG color */
// $bg: #272c2f;
$bg: desaturate(darken($a_accent, 40%), 88% );
$bg_d20: darken($bg,  20%);
$bg_d10: darken($bg,  10%);
$bg_l10: lighten($bg, 10%);
$bg_l20: lighten($bg, 20%);
$bg_l30: lighten($bg, 30%);
$bg_l40: lighten($bg, 40%);
$bg_l50: lighten($bg, 50%);
$bg_l60: lighten($bg, 60%);
$bg_l70: lighten($bg, 70%);
$bg_l80: lighten($bg, 80%);
$bg_l90: lighten($bg, 90%);
$bg_l95: lighten($bg, 95%);
.col_bg_d20 { background-color: $bg_d20; }
.col_bg_d10 { background-color: $bg_d10; }
.col_bg { background-color: $bg; }
.col_bg_l10 { background-color: $bg_l10; }
.col_bg_l20 { background-color: $bg_l20; }
.col_bg_l30 { background-color: $bg_l30; }
.col_bg_l40 { background-color: $bg_l40; }
.col_bg_l50 { background-color: $bg_l50; }
.col_bg_l60 { background-color: $bg_l60; }
.col_bg_l70 { background-color: $bg_l70; }
.col_bg_l80 { background-color: $bg_l80; }
.col_bg_l90 { background-color: $bg_l90; }
.col_bg_l95 { background-color: $bg_l95; }

/* ==============================================
MIXINs */

/* @include clearfix */
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

/* @extend %clearfix */
%clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}


* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  // background-repeat:no-repeat;
}

html {
  height:100%;
  background:#fff;
}

body {
  height:100%;
  min-height:100%;
}

.right {
  float: right;
}

._m0 {
  margin: 0 !important;
}

._p0 {
  padding: 0 !important;
}

/* Common font-faces */
/* 'Trebuchet MS', Trebuchet, Tahoma, Verdana, Arial, Helvetica, sans-serif; */
/* Georgia, 'Times New Roman', Times, serif; */
/* 'Courier New', Courier, monospace; */

$font_mono: 'Droid Sans Mono', 'Lucida Console', 'Andale Mono', 'Courier New', Courier, monospace;

/* -------------------------------------
=Initial */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100.01%;
  color: $f_default_color;
}

/* -------------------------------------
=Default text / type styles */

/* General font sizes */

body,
ol, ul, li,
address,
blockquote, pre, code, kbd, samp, q,
sub, sup, small,
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $f_base;
  font-size:   $f_default_size;
  line-height: $f_default_line_height;
  text-align: left;
  font-weight: 400;
  color: $f_default_color;
}

dfn,
em,
i {
  font-style: italic;
  font-size: inherit;
}

strong,
b {
  font-weight: 700;
  font-size: inherit;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
  margin: 1em 40px;
}

mark {
  background: #ff0;
  color: #000;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 14px;
  line-height: 130%;
  text-align: left;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

address {
  font-style:normal !important;
}

footer address {
  font-size: $f_default_size;
  line-height: $f_default_line_height;
}

/* -------------------------------------
=Forms feneral */

button, input, select, textarea, fieldset, legend,
label, select {
  font-size: $f_default_size;
  line-height: $f_default_line_height;
  font-weight: 400;
  text-align: left;
}

/* -------------------------------------
=Listas */

ul, ol, li {
  list-style: none;
}

li {
  font-size: 100%;
  line-height: 160%;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

/* =ESTILOS POR DEFECTO */
/* ul li { list-style: disc outside; }*/
/* ol li { list-style: decimal outside; }*/

/* -------------------------------------
=Enlaces */

a:focus { outline: thin dotted; }
a:hover,
a:active { outline: 0; }

a, a:link,
a:visited,
a:hover,
a:active {
  font-weight: 400;
  color: #00f;
  outline: 0;
  text-decoration:underline;
}
a:hover {
  color: #f00;
}

footer address a,
footer address a:link,
footer address a:visited,
footer address a:hover,
footer address a:active {
  font-weight: 400;
  color: #00f;
  text-decoration: underline;
}

footer address a:hover {
  color: #f00;
}

/* ICONO AUTOMÁTICO EN LINKS DE DOWNLOAD */
/* a[href$=".pdf"] { padding:0 20px 0 0; background:transparent url(/img/pdf.png) no-repeat center right; } */

/* -------------------------------------
=Tipografias del site */

/* Convenciones

Los tamños por defecto... variables generales, etc están en _tipografia_base.css.scss

b -> bold
m -> medium
r -> regular
l -> light
u -> ultralight

*/

/* Common to all */
._r100,._r66, ._r52, ._r46,
._r42, ._r36, ._r34, ._r26,
._r24, ._r22, ._r20, ._r18,
._r16, ._r15, ._r14, ._r13
 {
  margin: 0 0 22px 0; /* fz x lh */

  font-family: $f_base;
  font-size:   $f_default_size;
  line-height: $f_default_line_height;
  font-weight: 400;
  text-align: left;
}

._r46, ._l46,
._r42, ._l42,
._r36, ._l36,
._r34, ._l34,
._r26, ._l26 {
  line-height: 120%;
}

._r100,._l100,
._r66, ._l66,
._r52, ._l52 {
  line-height: 100%;
}


/* Font sizes  and margins */
/* Mergin bottom equals font-size * line-height */
._r100,._l100 {
  font-size: 100px;
  margin-bottom: 100px;
}
._r66, ._l66 {
  font-size: 66px;
  margin-bottom: 66px;
}
._r52, ._l52 {
  font-size: 52px;
  margin-bottom: 52px;
}
._r46, ._l46 {
  font-size: 46px;
}
._r42, ._l42 {
  font-size: 42px;
}
._r36, ._l36 {
  font-size: 36px;
}
._r34, ._l34 {
  font-size: 34px;
}
._r26, ._l26 {
  font-size: 26px;
}
._r24, ._l24 {
  font-size: 24px;
}
._r22, ._l22 {
  font-size: 22px;
}
._r20, ._l20 {
  font-size: 20px;
}
._r18, ._l18 {
  font-size: 18px;
}
._r16, ._l16 {
  font-size: 16px;
}
._r15, ._l15 {
  font-size: 15px;
}
._r14, ._l14 {
  font-size: 14px;
}
._r13, ._l13 {
  font-size: 13px;
}

/* IE8 has problms asigning the font weight if fonts its no explicity specified */


//
// Default square buttons
//

/* Default dark buttons 44x44px */
a.btn-square {
  display: block;
  float: left;
  width: 44px;
  height: 44px;

  border-right: 1px solid $bg;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-left: 1px solid rgba(255,255,255,0.10);
  background-color: $bg_l10;
  color: #ccc;

  text-align: center;
  text-decoration: none;
  line-height: 40px;

  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    background-color: $a_des30_dar30;
    color: #fff;
  }

  &.active {
    background-color: $a_des30_dar30;
  }

  &.accent {
    background-color: $a_des30_dar30;
    &:hover {
      background-color: $a_des10_dar10;
    }
  }

  &.right {
    float: right;
    border-right: 0;
    border-left: 1px solid $bg;
  }

  &.error {
    // background-color: desaturate(darken($error, 20%), 20%);
    &:hover {
      background-color: $error;
    }
  }

  &.ico-close {
    background-image: asset_url('no_cms/admin/ico-close.svg');
  }

  &.ico-expand {
    background-image: asset_url('no_cms/admin/ico-expand.svg');
  }

  &.ico-expand-v {
    background-image: asset_url('no_cms/admin/ico-expand-v.svg');
  }

  &.ico-expand-dark {
    background-image: asset_url('no_cms/admin/ico-expand-dark.svg');
  }

  &.ico-expand-dark-v {
    background-image: asset_url('no_cms/admin/ico-expand-dark-v.svg');
  }

  &.ico-collapse-v {
    background-image: asset_url('no_cms/admin/ico-collapse-v.svg');
  }

  &.ico-collapse-dark-v {
    background-image: asset_url('no_cms/admin/ico-collapse-dark-v.svg');
  }

  &.ico-add {
    background-image: asset_url('no_cms/admin/ico-add.svg');
  }

  &.ico-filter {
    background-image: asset_url('no_cms/admin/ico-filter.svg');
  }

  &.ico-search {
    background-image: asset_url('no_cms/admin/ico-search.svg');
  }
}

input[type=reset].btn,
input[type=submit].btn,
button.btn,
a.btn {
  width: auto;
  height: 27px;
  padding: 6px 8px;
  margin: 7px 1px 0 8px;

  border: 2px solid transparent;
  outline: 0;

  border-top: 1px solid rgba(255,255,255,0.15);
  border-left: 1px solid rgba(255,255,255,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.10);

  border-radius: 2px;

  background-color: $a_des20_dar20;

  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;


  &.right {
    margin-left: 0;
    margin-right: 8px;
  }

  &:hover {
    background-color: $a_accent;
    color: #fff;
  }
}

input[type=reset].btn {
  background-color: $bg_l40;
}

$col_1_w: 15%;
$col_2_w: 30%;

$tool_bar_h: 44px;
$content_area_padding: 20px;
$log_bar_h: 18px;

body {
  margin: 0;
  padding: 0 0 0 ($col_1_w+$col_2_w);
  min-height: 100%;
  background: $bg_d10;

  overflow-x: hidden;

  /* Maximun space for edition */
  &.go-full-screen {
    #interface {
      display: none;
    }
  }
  /* Maximun space for edition */
  &.col-1-only {
    padding-left:($col_1_w);
    #main-header {
      width: ($col_1_w);
    }
    aside#col-2 {
      display: none;
    }
    section#content-area {
      .tool-bar {
        width: (100 - $col_1_w);
      }
    }
  }
  /* Only first column active */
  &.col-2-only {
    aside#col-2 {
      width: $col_1_w+$col_2_w;
      left: 0;
      > .tool-bar,
      > .page-nav {
        width: $col_1_w+$col_2_w;
        left: 0;
        .ico-expand {
          background-color: $a_des30_dar30;
        }
      }
    }
    aside#col-1 {
      display: none;
    }
  }
}

#main-header {
  width: $col_1_w+$col_2_w;
  height: $tool_bar_h;
  position: fixed;
  left: 0;
  top: 0;
  background: $bg_l10;
  z-index: 3;

  border-bottom: 2px solid $bg_d20;
  border-right: 2px solid $bg_d20;
  > .logo {
    float: left;
    overflow: hidden;
    width: 94px;
    height: 44px;
    margin-left: 12px;
    > a {
      display: block;
    }
  }
}

#log-bar {
  position: fixed;
  width: 100%;
  height: $log_bar_h;
  padding: 2px 12px 16px 16px;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;

  border-top: 1px solid $bg;
  background-color: $bg_d10;
  overflow:hidden;

  &.expanded {
    height: 50%;
    overflow: auto;
  }

  > span#js-clear-log {
    display: block;
    height: 24px;
    padding: 4px 22px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    background: asset_url('no_cms/admin/ico-mini-delete.png') right center no-repeat;

    font-weight: 400;
    color: #fff;
  }

  > p {
    margin: 0;
    padding: 0;
    color: $bg_l30;
    font-weight: 700;
    > time {
      font-weight: 400;
      &:after {
        content: ' ››› '
      }
    }
    &.warning {
      $col: hsl( 40, saturation($a_accent), lightness($a_accent));
      color: $col;
    }
    &.error {
      $col: hsl( 0, saturation($a_accent), lightness($a_accent));
      color: $col;
    }
  }
}

//
// Toolbars default styles
//

.tool-bar {
  position: fixed;
  width: 100%;
  height: $tool_bar_h;
  margin-top: -44px;
  margin-left: -1px;
  z-index: 3;

  background: $bg_l10;
  border-bottom: 1px solid $bg_d10;
  color: $bg_d20;
  overflow:hidden;
}

//
// Page navigator
//

$pagenav_base_color: $a_accent;
$pagenav_text_color: $bg_l30;

.page-nav {
  position: fixed;
  width: 100%;
  height: $tool_bar_h;
  bottom:$log_bar_h;
  margin-left: -1px;
  border-top: 1px solid $bg;
  border-left: 1px solid $bg;
  z-index: 2;

  background: $bg_d10;
  color: $bg_l20;
  overflow:hidden;

   p {
    width: 100%;
    display:inline-block;
    padding:0;

    text-align:center;
    font-size: 0;
    line-height: 28px; /* Same as height */

    .prev,
    .next,
    a,
    span {
      display: inline-block;
      height: 28px;
      overflow: hidden;
      margin: 7px 1px 0 1px;
      padding: 5px 4px 0 4px;

      border-radius: 2px;
      border: 2px solid transparent;

      font-size: 14px;
      line-height: 14px;
      text-decoration: none;
      background: $bg_d10;
      color: $pagenav_text_color;
    }
    .current {
      // background: desaturate(darken($a_accent, 20%), 20%);
      border-color: $a_des20_dar20;
      color: $a_des20_dar20;
    }
    a {
      &:hover {
        background-color: $a_accent;
        color: #000;
      }
    }
    .prev,
    .next {
      height: 42px;
      width: 42px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0;
      border-right: 1px solid $bg;
      line-height: 40px;

      border-radius: 0;
      background: $bg_d10 asset_url('no_cms/admin/ico-prev.svg') center center no-repeat;

      &:hover {
        background-color: $a_accent;
        color: #000;
      }
    }
    .next {
      background: $bg_d10 asset_url('no_cms/admin/ico-next.svg') center center no-repeat;
      border-right: 0;
      border-left: 1px solid $bg;
      left: auto;
      right: 1px;
    }
  }
}

//
// Lang / local bar
//

.lang {
  float: left;
  text-align:center;
  padding: 6px 0 0 6px;

  font-size: 12px;
  line-height: 28px; /* Same as height */
  text-decoration: none;

  > a {
    display: inline-block;
    width: 32px;
    height: 31px;
    border: 0;
    padding: 0;

    border: 2px solid transparent;
    border-radius: 2px;

    text-decoration: none;
    line-height: 27px; //29
    color: #fff;

    &.current {
      border-color: $a_des20_dar20;
      color: $a_des20_dar20 !important;
    }

    &:hover {
      background-color: $a_des20_dar20;
      color: #fff !important;
    }
  }
}

//
// Tooltip
//

a.info-tooltip {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px 0 0 0;
  margin-right: 6px;

  background: $a_des20_dar20;
  color: #fff;

  font-family: $font_mono;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;

  border-radius: 2px;

  &:hover {
    background: $a_accent;
    color: #fdd;
  }
}

a[data-tooltip]:link,
a[data-tooltip]:visited {
  position: relative;
  text-decoration: none;
}

a[data-tooltip]:after {
  content: attr(data-tooltip);
  display: block;
  width: 280px;
  position: absolute;
  left: 20px;
  top: 0px;
  padding: 15px;
  border-radius: 2px;

  background: #000;
  color: white;

  font-family: $f_base;
  font-size:   $f_default_size;
  font-weight: 400;
  line-height: 1.2em;
  text-align: left;

  visibility: hidden;
}

a[data-tooltip]:hover:before,
a[data-tooltip]:hover:after {
  visibility: visible;
}


//
// Columnas de la izquierda
//

aside#col-1 {
  position: fixed;
  width: $col_1_w;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding-top: $tool_bar_h;

  border-right: 2px solid $bg_d10;

  > .tool-bar {
    width: $col_1_w;
    border-right: 1px solid $bg_d10;
  }
}

aside#col-2 {
  position: fixed;
  width: $col_2_w;
  left: $col_1_w;
  bottom: 0;
  z-index: 1;
  padding-top: $tool_bar_h;

  border-left:  1px solid $bg;
  border-right: 2px solid $bg_d10;

  > .page-nav {
    width: $col_2_w;
  }
  > .tool-bar {
    width: $col_2_w;
    border-right: 2px solid $bg_d10;
  }
}

aside#col-1,
aside#col-2 {

  top: $tool_bar_h;

  > .content {
    padding-bottom: $log_bar_h;
    overflow-y: auto;
    height: 100%;
    background-color: $bg_d10;

    /* general to all levels level */
    li {
      position: relative;
      line-height: 120%;
      border-top: 1px solid $bg_l10;
      &.parent {
        > a {
          border-left: 2px solid $bg_l10;
        }
      }
      &.current {
        > a {
          border-left: 4px solid $a_accent;
          color: #fff;
          background-color: $bg_l10;
        }
        & > ul {
          border-left: 2px dotted $a_accent;
          > li:first-child {
            border-top: 1px solid transparent;
          }
        }
      }
      &.oculto {
        > a {
          background: asset_url('no_cms/admin/stripe_5d3ba7190e7de9a95d82d43dce2917b1_b15.png') 0 0 repeat;
        }
        > div.mo {
          > .ico-mini-show-hide {
            border: 2px solid $a_des20_dar20;
            background-color: $a_des20_dar20 !important;
          }
        }
      }
      > ul {
        border-left: 2px dotted $bg_l10;
      }
    }
    a {
      display: block;
      padding: 12px 0 12px 12px;
      // border-left: 4px solid transparent;

      text-decoration: none;
      font-weight: 700;
      color: $bg_l40;

      &:hover {
        color: $bg_l70;

        & ~ div.mo {
          opacity: 1;
        }
      }
    }
    /* First level only*/
    > ul {
      padding: 0 0 0 16px;
      margin: 0;
      background: $bg;
      /* Second level and below */
      > li:first-child {
        border-top: 0;
      }
      ul {
        margin: 0;
        padding: 0 0 0 16px;
        li {
          a {
            font-weight: 400;
          }
        }
      }
    }
  }

  > .page-nav + .content {
    padding-bottom: ($tool_bar_h+$log_bar_h);
  }

  ::-webkit-scrollbar {
    width: 8px;  /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: darken($bg, 10%);
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($bg, 20%);
  }
}


//
// Search bar / filter bar
//
.filter-bar,
.search-bar {
  display: none;
  width: 100%;
  min-height: $tool_bar_h;
  overflow: hidden;

  margin-left: -1px;
  padding: 20px;

  background-color: $bg_l10;
  border-bottom: 1px solid $bg;
}

.search-bar {
  form {
    position: relative;
    display: block;
    background: transparent;
  }
  input[type=text] {
    width: 98%;
    float: left;
    margin: 0 36px 0 0;
    padding: 8px;
    border: 1px solid $bg_l30;
    outline: 0;
  }
  input[type=submit] {
    position: absolute;
    right: 0;
    width: 33px;
    height: 33px;
    margin: 0;
    background: $a_des20_dar20 asset_url('no_cms/admin/ico-search-mini.png') center center no-repeat;
  }
}

.filter-bar {

}

//
// Área de contenidos editables
//
section#content-area {
  position: relative;
  min-height: 100%;
  height: auto;
  padding-bottom: $log_bar_h;
  background: #fff;
  .content {
    padding-top: $tool_bar_h;
    overflow: hidden;
    .row {
      @include clearfix;
      padding: ($content_area_padding - 4px);
      border-bottom: 1px solid $bg_l70;
      background-color: $bg_l90;

      &.has-children {
        min-height: $tool_bar_h;
        border-bottom: 0;
        padding: 0;
        overflow: hidden;
        &.collapsed {
          height: $tool_bar_h; // + 1?
          .tool-bar-blocks {
            a.ico-expand-v {
              background-image: asset_url('no_cms/admin/ico-collapse-v.svg');
            }
            a.ico-collapse-v {
              background-image: asset_url('no_cms/admin/ico-expand-v.svg');
            }
          }
        }
        // Niveles anidados INCEPTION!!!"
        .block.row {
          .layout_fields {
            > .row {
              border-left: 4px solid $a_des20_dar20;
              border-right: 1px solid $bg_l70;
            }
          }
        }
      }

      > img {
        float: left;
        display: block;
        width: 220px;
        margin-right: $content_area_padding;
        border: 1px solid $bg_l10;
      }

      label {
        width: 100%;
        float: left;
      }

      .block {
        position: relative;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
        overflow: hidden;

        background-color: $bg_l90;

        &:last-of-type {
          border-bottom: 0;
        }
        .row {
          background-color: transparent;
        }

        &.collapsed {
          height: $tool_bar_h;
          a.ico-collapse-v {
            background-image: asset_url('no_cms/admin/ico-expand-v.svg');
          }
        }

        &.to-be-deleted {
          .b-title {
            .mo {
              .ico-mini-delete {
                background-color: $a_accent !important;
              }
            }
          }
        }

        &.oculto {
          background-image: asset_url('no_cms/admin/stripe_5d3ba7190e7de9a95d82d43dce2917b1_a10.png');
          .b-title {
            background-image: asset_url('no_cms/admin/stripe_5d3ba7190e7de9a95d82d43dce2917b1_a10.png');
            .mo {
              .ico-mini-show-hide {
                background-color: $bg_l10;
                background-image: asset_url('no_cms/admin/ico-mini-show-hide.png');
              }
            }
          }
        }

        .b-title {
          width: 100%;
          min-height: 44px;
          padding: 00;
          background: $bg_l60;

          color: #fff;
          font-weight: 700;

          img {
            width: 44px;
            height: 44px;
            display: block;
            float: left;
          }
          > p {
            float: left;
          }
          > select {
            margin: 8px 0 0 8px;

          }
        }
      }
    }
  }
  .tool-bar {
    width: 100 - ($col_1_w + $col_2_w);
    margin-top: 0;
    margin-left: 0;
    background-color: $bg_l70;
    border-bottom: 2px solid $bg_l70;
    .btn-square {
      background-color: $bg_l70;
      border-right: 1px solid $bg_l70;
      color: $bg;
      &.active,
      &:hover {
        background-color: $bg_l70;
      }
      &.right {
        border-right: 0;
        border-left: 1px solid $bg_l70;
        margin-right: 0;
      }
      &.ico-prev {
        background-image: asset_url('no_cms/admin/ico-prev-dark.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.ico-next {
        background-image: asset_url('no_cms/admin/ico-next-dark.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  .advanced {
    max-height: $tool_bar_h;
    padding: $content_area_padding;
    background: darken(#fff, 10%);
    border-top: 1px solid darken(#fff, 30%);
    border-bottom: 1px solid darken(#fff, 30%);
    > div {
      display: none;
    }
  }
  .lang {
    > a {
      color: #000;
    }
  }

  //
  // Warning error and info msg
  //
  .content {
    .msg {
      padding: 14px 20px;
      /* Colors are based on Accent color */
      &.info {
        $col: hsl( 190, saturation($a_accent), lightness($a_accent));
        border-bottom: 1px solid darken($col, 20%);
        border-left: 4px solid darken($col, 20%);
        background-color: lighten($col, 25%);
      }
      &.warning {
        $col: hsl( 40, saturation($a_accent), lightness($a_accent));
        border-bottom: 1px solid darken($col, 20%);
        border-left: 4px solid darken($col, 20%);
        background-color: lighten($col, 25%);
      }
      &.error {
        $col: hsl( 0, saturation($a_accent), lightness($a_accent));
        border-bottom: 1px solid darken($col, 20%);
        border-left: 4px solid darken($col, 20%);
        background-color: lighten($col, 25%);
      }
    }
  }
}

//
// Barra superior de los bloques, gris oscura
//
.tool-bar-blocks {
  width: 100%;
  min-height: 44px;
  position: relative;
  // background-color: lighten($bg, 10%);
  background-color: $a_des30_dar30;
  margin-bottom: 1px;
  padding: 8px 8px 0 ($content_area_padding+44);
  > .ico-expand-v,
  > .ico-collapse-v {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $a_des30_dar30;
    border-right-color: #fff;
    &:hover {
      background-color: $a_accent;
    }
  }
  label {
    width: auto !important;
    float: left;
    padding-top: 6px;
    color: #fff;
  }
  .btn {
    float: right;
  }
}

//
// Contador
//
.has-children {
  counter-reset: section;

  .b-title {
    /* Contador */
    &:before {
      counter-increment: section;
      content: counter(section);
      display: block;
      width: 44px;
      height: 44px;
      float: left;
      margin-left: -1px;
      overflow: hidden;

      border-right: 1px solid darken(#fff, 2%);

      background-color: $a_des30_dar30;

      font-family: 'Open sans';
      font-weight: 300;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: -2px;
      text-align: center;
      color: #fff;
    }
  }
  // Second level ----------------------------------
  .has-children {
    counter-reset: subsection;

    .tool-bar-blocks {
      background-color: $b_des30_dar30;
      > .ico-expand-v,
      > .ico-collapse-v {
        background-color: $b_des30_dar30;
        &:hover {
          background-color: $b_accent;
        }
      }
      /* .btn {
        background-color: $b_des20_dar20;
        &:hover {
          background-color: $b_accent;
        }
      } */
    }

    .layout_fields {
      > .row {
        border-left-color: $b_des20_dar20 !important;
      }
    }

    .b-title {
      > .ico-expand-v,
      > .ico-collapse-v {
        &:hover {
          background-color: $b_des30_dar30;
        }
      }

      &:before {
        counter-increment: subsection;
        content: counter(section) "." counter(subsection);

        background-color: $b_des30_dar30;

        font-size: 22px;
        line-height: 42px;
        letter-spacing: 0;
      }
    }
    // Third level
    .has-children {
      counter-reset: subsubsection;

      .tool-bar-blocks {
        background-color: $c_des30_dar30;
        > .ico-expand-v,
        > .ico-collapse-v {
          background-color: $c_des30_dar30;
          &:hover {
            background-color: $c_accent;
          }
        }
        /* .btn {
          background-color: $c_des20_dar20;
          &:hover {
            background-color: $c_accent;
          }
        } */
      }

      .layout_fields {
        > .row {
          border-left-color: $c_des20_dar20 !important;
        }
      }

      .b-title {

        > .ico-expand-v,
        > .ico-collapse-v {
          &:hover {
            background-color: $c_des30_dar30;
          }
        }

        &:before {
          counter-increment: subsubsection;
          content: counter(section) "." counter(subsection) "." counter(subsubsection);
          background-color: $c_des30_dar30;

          font-size: 16px;
          line-height: 42px;
          letter-spacing: 0;
        }
      }
    }
  }
}

//
// Mini options on the page listing
//

.mo,
#mini-options {
  position: absolute;
  top: 5px;
  right: 4px;

  border-left: 0;
  border-top: 0;
  border-right: 0;
  z-index: 2;

  opacity: 0;

  /* Remove space between icons */
  font-size: 0;

  &:hover {
    opacity: 1;
  }

  > form {

    display: inline;

    > div {
      display: inline;
    }
  }

  input[type=submit],
  > input[type=reset],
  button,
  > a {
    display: inline-block;
    width: 28px;
    height: 28px;
    float: right;
    margin: 0 1px;
    padding: 0;

    background-color: $bg;
    border: 2px solid desaturate(darken($a_accent, 30%), 30%);
    outline: 0;
    border-radius: 2px;

    background-position: center center;
    background-repeat: no-repeat;

    &.active {
      border: 2px solid desaturate(darken($a_accent, 20%), 20%);
      background-color: desaturate(darken($a_accent, 20%), 20%);
    }
    &:hover {
      border: 2px solid desaturate(darken($a_accent, 20%), 20%);
      background-color: desaturate(darken($a_accent, 20%), 20%);
    }
    &.ico-mini-show-hide {
      background-image: asset_url('no_cms/admin/ico-mini-show-hide.png');
    }
    &.ico-mini-move-up {
      background-image: asset_url('no_cms/admin/ico-mini-move-up.png');
    }
    &.ico-mini-move-down {
      background-image: asset_url('no_cms/admin/ico-mini-move-down.png');
    }
    &.ico-mini-delete {
      background-image: asset_url('no_cms/admin/ico-mini-delete.png');
    }
  }
}


//
// Mini options section
//
section#content-area {
  .mo,
  #mini-options {
    opacity: 1;
    border: 0;
    top: 7px;
    right: 7px;

    input[type=submit],
    > button,
    > a {
      // background-color: $line_color;
      // border-left: 1px solid #fff;
      // background-color: $bg_l40;
      background-color: $bg_l60;
      border-color: $bg_l10;
      &.active,
      &:hover {
        background-color: $bg_l10;

        &.ico-mini-show-hide {
          background-image: asset_url('no_cms/admin/ico-mini-show-hide.png');
        }
        &.ico-mini-move-up {
          background-image: asset_url('no_cms/admin/ico-mini-move-up.png');
        }
        &.ico-mini-move-down {
          background-image: asset_url('no_cms/admin/ico-mini-move-down.png');
        }
        &.ico-mini-delete {
          background-image: asset_url('no_cms/admin/ico-mini-delete.png');
        }
      }

      &.ico-mini-show-hide {
        background-image: asset_url('no_cms/admin/ico-mini-show-hide-dark.png');
      }
      &.ico-mini-move-up {
        background-image: asset_url('no_cms/admin/ico-mini-move-up-dark.png');
      }
      &.ico-mini-move-down {
        background-image: asset_url('no_cms/admin/ico-mini-move-down-dark.png');
      }
      &.ico-mini-delete {
        background-image: asset_url('no_cms/admin/ico-mini-delete-dark.png');
      }
    }
  }
  // Level 2
  /* .has-children {
    .has-children {
      .mo,
      #mini-options {
        > input[type=submit],
        > button,
        > a {
          &.active,
          &:hover {
            background-color: $b_des20_dar20;
          }
        }
      }
      // Level 3
      .has-children {
        .mo,
        #mini-options {
          > input[type=submit],
          > button,
          > a {
            &.active,
            &:hover {
              background-color: $c_des20_dar20;
            }
          }
        }
      }
    }
  }*/
}

//
// Form styles
//
label {
  width: 100%;
  padding: 0 16px 8px 0;
  font-weight: 700;
  color: $bg;
}
legend {
  padding-right: 16px;
  padding-bottom: 4px;
  font-weight: 700;
  color: $bg;
}
/* Los checkbox deben estar dentro de un fieldset */
fieldset {
  width: 100%;
  float: left;
  label {
    width: auto;
    font-weight: 400;
    white-space:nowrap;
  }

  &.content-left {
    > label {
      width: auto !important;
      float: left;
      margin-right: 16px;
    }
  }
}
input[type=radio],
input[type=checkbox] {

}
input[type=text],
input[type=date],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  float: left;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid darken(#fff, 30%);
  outline: 0;

  font-family: $font_mono;
  font-size: 13px;
  line-height: 120%;

  &:focus {
    border: 1px solid desaturate(darken($a_accent, 20%), 20%);
  }
  &.half {
    width: 48%;
    margin-right: 8px;
  }
  &.third {
    width: 31%;
    margin-right: 8px;
  }
}
input[type=text],
input[type=date],
input[type=email],
input[type=password] {
  height: 32px;
  padding: 4px 8px 7px 8px;
  line-height: 18px;
}
input[type=date] {
  width: auto;
}
textarea {
  height: 384px;
  float: left;
  resize:vertical;
}
select {
  float: left;
  // padding: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  outline: 0;

  border: 1px solid darken(#fff, 30%);
  background: #fff;
  color: #000;
}

//
// Form styles de filter
//
#interface {
  legend,
  label {
    color: #fff;
    padding-bottom: 4px;
  }
  input[type=text] {
    &.half {
      width: 48%;
      margin-left: 3.5%;
      margin-right: 0;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  .filter-bar {
    .row {
      @include clearfix;
      padding: 0 0 4px 0;
    }
    input[type=reset].btn,
    input[type=submit].btn {
      margin: 8px 0 0 8px;
    }
  }
}
