<div id="content_fields">
  <div class="row">
    <%%= f.label :title %>
    <%%= f.text_field :title %>
  </div>
  <div class="row">
    <%%= f.label :body %>
    <%%= f.text_area :body %>
  </div>
</div>
