<form action="#">
  <div class="row">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="" placeholder="Placeholder de nombre">
  </div>
  <div class="row">
    <label for="codigo-GG">Código GG</label>
    <input type="text" name="codigo-GG" id="">
  </div>
  <div class="row">
    <label for="ISBN">ISBN</label>
    <input type="text" name="ISBN" id="">
  </div>
  <div class="row">
    <label for="categoria">Categoría</label>
    <input type="text" name="categoria" id="">
  </div>
  <div class="row">
    <label for="xxx">Dos inputs en una sola línea</label>
    <input type="text" name="Nombre" id="" class="half">
    <input type="text" name="Apellidos" id="" class="half">
  </div>
  <div class="row">
    <label for="editorial">Editorial</label>
    <select name="editorial" id="">
      <option value="">Editorial 1</option>
      <option value="">Editorial 2</option>
      <option value="">Editorial 3</option>
    </select>
  </div>
  <div class="row">
    <label for="coleccion">Colección y país</label>
    <select name="coleccion" id="">
      <option value="">Sleccione colección</option>
      <option value="">Colección 1</option>
      <option value="">Colección 2</option>
      <option value="">Colección 3</option>
    </select>
    <select name="pais" id="">
      <option value="">Sleccione país</option>
      <option value="">Colección 1</option>
      <option value="">Colección 2</option>
      <option value="">Colección 3</option>
    </select>
  </div>
  <div class="row">
    <fieldset>
      <legend>Título del grupos de checkboxes</legend>
      <label><input type="checkbox" name="" id=""> Checkbox 1</label>
      <label><input type="checkbox" name="" id=""> Checkbox 2</label>
      <label><input type="checkbox" name="" id=""> Checkbox 4</label>
      <label><input type="checkbox" name="" id=""> Checkbox 5</label>
    </fieldset>
  </div>
  <div class="row filter-actions">
    <input type="submit" value="Filtrar" class="btn right">
    <input type="reset" value="Eliminar filtro" class="btn right">
  </div>
</form>
