<%% content_for :second_menu do %>
  <%%= render partial: '<%= singular_model_name %>_listing_item', collection: @roots, as: '<%= singular_model_name %>', layout: '<%= singular_model_name %>_listing' unless @<%= plural_model_name %>.blank? %>
<%% end %>

<div class="content">
  <%%= render 'no_cms/admin/shared/log_messages' %>
</div>
