<li>
  <%= link_to I18n.t("no_cms.admin.menu_items.#{menu_item[:name]}"), menu_item[:url] %>
  <%= render partial: 'menu_item', collection: menu_item[:children], layout: 'menu_items', as: :menu_item unless menu_item[:children].blank? %>
</li>
