<section id="log-bar">
  <span id="js-clear-log" title="<%= t('.clear_title')%>"><%= t('.clear')%></span>
</section>
<% content_for :ready_js do %>
  var logger = new NoCMS.Admin.Logger();
  <% @nocms_logger.messages.each do |type, messages| %>
    <% messages.each do |message| %>
      logger.addMessage(<%= raw type.to_json %>, <%= raw message.to_json %>)
    <% end %>
  <% end %>
<% end %>
