<section id="log-bar">
  <%= link_to t('.remove'), '#', id: 'log-bar-clear' %>
</section>
<% content_for :ready_js do %>
  var logger = new NoCMS.Admin.Logger();
  <% @logger.messages.each do |type, messages| %>
    <% messages.each do |message| %>
      logger.addMessage(<%= raw type.to_json %>, <%= raw message.to_json %>)
    <% end %>
  <% end %>
<% end %>
