<% types ||= [:info, :warning, :error] %>
<% @nocms_logger.messages(types).each do |type, messages| %>
  <% messages.each do |message| %>
    <div class="row msg <%= type %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
