<div class="logo">
  <%= link_to image_tag("no_cms/admin/NoCMS_logo.svg", alt: "NoCMS Rules", width: "94px", height: "44px"), no_cms_admin.root_path, class: 'logo' %>
</div>
<a href="#" class="btn right ico-logout">LOGOUT</a>
