<% f ||= nil %>
<div class="tool-bar">
  <%= begin
    render 'toolbar_left', f: f
    rescue ActionView::MissingTemplate
      ''
  end %>
  <a href="#" data-view="full-screen" class="btn-square ico-expand-dark"></a>
  <%= render 'no_cms/admin/shared/locales' %>
  <%= begin
    render 'toolbar_right', f: f
    rescue ActionView::MissingTemplate
      ''
  end %>
</div>
